# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/
ENV/
*.env

# VS Code settings
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyCharm files
.idea/

# Build folders
build/
dist/
*.egg-info/

# Secrets
*.env
